# Original game files
build/
extract/
insert/

# BeXide file formats
*.KSC
*.DIC
*.GIM

# Game isos
*.iso

# Source image files (Paint.NET, GIMP, vector)
*.pdn
*.xcf
*.svg

# pngquant converted images
*-fs8.png

# Excel spreadsheets
*.xlsx
*.ods

# Other files
patches/param.txt
textures/md5.txt
